.login-form {
    margin: 200px auto;
    display: flex;
    justify-content: space-around;
    &__login-input {
        display: flex;
        margin-bottom: 20px;
        border: none;
        outline: 0;
        border-bottom: 2px solid black;
        font-size: 2rem;
  
    }
}