.comment-section{

    &__comment-list{
        border-bottom: 2px solid rgb(184, 184, 184);

    }

    &__comment-input{
        padding: 17px 0px;
        width: 1050px;
        border: 0;
        outline: 0;
        font-size: 2.5rem;
        
    }

    &__comment-icon{
        font-size:  2rem;
    }
}