.post-container{

    &__image{
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }

    &__user-image{
        height:60px;
        width: 60px;
        border-radius: 40px;
        margin: 20px;
    }

    &__title{
        display:flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__icon{
        font-size: 2rem;
        margin-right: 20px;
        margin-bottom: 10px;
    }

   

}